.search-input
  padding: 4px 7px
  width: 100%
  outline: none
  border: solid 1px var(--color-accent-3-var)
  border-radius: 5px
  background-color: var(--color-bg)
  color: var(--color-fg)
  font-size: 1.2rem
  -webkit-border-radius: 5px
  -moz-border-radius: 5px

  &:focus
    border: solid 1px var(--color-accent-1-var)

#search-result
  ul.search-result-list
    padding: 0
    list-style-type: none

  li
    margin: 2em auto

  a.search-result-title
    background-image: none
    color: var(--color-fg)
    text-transform: capitalize
    font-weight: bold
    line-height: 1.2

  p.search-result
    overflow: hidden
    margin: .4em auto
    max-height: 13em
    text-align: justify
    font-size: .8em

  em.search-keyword
    border-bottom: 1px dashed var(--color-link-color)
    color: var(--color-link-color)
    font-weight: bold

.search-no-result
  display: none
  margin-top: 16px
  padding-bottom: .5em
  color: var(--color-fg)
