

<%- markdown(`
Consultant Tech Lead Senior @ [Octo Technology](https://octo.com/)

`) %>

<%- partial('_partial/find_me') %>

<ul class="my-4">
    <li><a href="/newsletter">Newsletter issues</a></li>
    <li><a href="/archives">Articles</a></li>
</ul>


<%- markdown(`
---

Powered by [Hexo.io](https://hexo.io/).
Theme based on Cactus by [Pieter Robberechts](https://github.com/probberechts/hexo-theme-cactus).
`) %>