<main class="newsletter-list-page">
         <h1 class="page-title">Newsletter issues</h1>
    </header>

    <section class="post-list">
        <ul class="post-list">
            <% site.categories.findOne({name: "newsletter"}).posts.sort('date', -1).each(function(post) {%>
                <li class="post-item">
                    <%- partial('_partial/post/date', { post: post, class_name: 'meta' }) %>
                    <a href="<%- url_for(post.path) %>" target="_blank" itemprop="url">
                      <%= post.title.replace(/^Newsletter( •)?\s+/i, '') %>
                    </a>
                </li>
            <% }); %>
        </ul>
    </section>
</main>