$color-background = #040D12 || #243642 || #181C14 || #2C3333 || #27374D || #040D12 || #0f0e0e || #1d1f21
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #908d8d
$color-scrollbar = #999
$color-meta = #908d8d
$color-link = #F4BF77 || #D6BD98 || #BE93A3 || #D1B3BE || rgba(212, 128, 170, 1)
$color-meta-code = #908d8d
$color-text = #c9cacc
$color-accent-3 = #cccccc
$color-accent-2 = #eeeeee
$color-accent-1 = #93BEAE ||  #B3D1C6 || #2bbc8a || #629584 || #96b186
$color-quote = #ccffb6
$highlight = hexo-config("highlight") || "rainbow"
