<script src="https://loiclefloch.kit.com/commerce.js" async defer></script>
<div style="text-align: center;">
  <a class="convertkit-button" href="https://loiclefloch.kit.com/products/loiclefloch" data-commerce>
    Buy me a coffee
  </a>
</div>
